:root {
    --cream: #FFE9BF;
    --gold: #FCB62E;
    --dark-gold: #D48D22;
    --chocolate: #59210A;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--chocolate);
    font-family: "Montserrat", sans-serif;
    color: var(--cream);
    overflow-x: hidden;
}

button {
    font-family: "Cormorant", serif;
}

h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

.about, .works {
    padding: 5em 0;
}

/*------------------NAV BAR SECTION-----------------------*/

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 30;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.nav-bar ul {
    display: inline-flex;
}

.nav-bar ul li {
    list-style-type: none;
    padding-top: 5px;
    transition: .4s ease;
}

.nav-bar ul li a {
    text-decoration: none;
    color: var(--cream);
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
}

.name-logo {
    z-index: 5;
    transition: .4s ease;
    color: #FFD075;
    transition: all .4s ease;
}

.name-logo span {
    font-family: "Italiana", serif;
    font-size: 64px;
    font-weight: 100;
    letter-spacing: -34px;
    transition: letter-spacing .4s ease;
}

.name-logo:hover {
    cursor: pointer;
}

.name-logo:hover span {
    letter-spacing: -9px;
    text-decoration: line-through;
    
}

.resume {
    padding: 8px 30px; 
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--gold);
    border-radius: 30px;
    transition: .4s ease;
}

.nav-bar ul li, .resume {
    margin-left: 40px;
}

#resume {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: var(--cream);
}

.resume:hover {
    cursor: pointer;
    background-color: var(--gold);
}

.resume:hover #resume {
    color: var(--chocolate);
    font-weight: 300;
}

.nav-bar li:hover {
    opacity: .6;
}

.top-menu, .middle-menu, .bottom-menu {
    background-color: var(--dark-gold);
    width: 20px;
    height: 2px;
    transform: rotate(0) translate(0);
    transition: transform .5s ease;

}

.middle-menu {
    margin: 5px 0;
    opacity: 1;
    transition: opacity .5s ease;
}

.top-menu.cross {
    transform: rotate(38deg) translate(2.5px, 7px);
    transition: transform .5s ease;
}

.middle-menu.cross {
    opacity: 0;
    transition: opacity .5s ease;
}

.bottom-menu.cross {
    transform: rotate(-38deg) translate(2.5px, -7px);
    transition: transform .5s ease;
}

.nav-hidden {
    display: none;
    transform: scale(1.1);
}

.nav-hidden:hover {
    cursor: pointer;
}
/*------------------NAV MENU SLIDE SECTION-----------------------*/
.nav-menu-slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100svh;
    background-color: #3d1302;
    z-index: 10;
}


.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu nav {
    display: flex;
    flex-direction: column;
}

.nav-menu nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-menu nav ul li {
    font-family: "Cormorant", serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;
    margin: -1px 0;
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    color: var(--dark-gold);
    opacity: 1;
    transition: opacity .4s ease;
}

.nav-menu li a:hover {
    opacity: .5;
}

.nav-menu-links {
    margin-top: 20px;
}

.nav-menu-links a {
    margin: 0 7px;
    color: var(--cream);
    transform: scale(1);
    transition: transform .4s ease;
}

.nav-menu-links a:hover i {
    transform: scale(1.05);
}

.nav-menu-slide {
    transform: translateX(100%);
    transition: transform .5s ease-out;
}

.nav-menu-slide.swipe {
    transform: translateX(0);
}

.name-logo.hidden {
    visibility: hidden;
    transition: visibility .4s ease;
}


/*------------------HOME SECTION-----------------------*/

.home {
    width: 100%;
    height: 89.3svh;
    position: relative;
    padding: 0 80px;
}

#mouse {
    position: absolute;
    bottom: 13%;
    left: 49%;
    color: var(--cream);
    animation: roll 3s ease alternate infinite;
}

@keyframes roll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}

/*-----------HOME LOGO SECTION--------------*/
.home-logo {
    position: absolute;
    top: 2%;
    left: -47%;
    position: relative;
}


.jasmine-logo {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 5;
    animation: signout 8s linear infinite;
}


/*-----------MIDDLE HOME SECTION--------------*/
.home-middle {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-middle h1 {
    font-family: "Cormorant", serif;
    font-size: 78px;
    color: var(--cream);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 1000px;
    transition: .4s ease;
    letter-spacing: -5px;
    font-weight: 500;
}

.home-middle img {
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    opacity: .7;
    transform: perspective(500px) translate(-50%, -50%);
    mix-blend-mode: exclusion;
    z-index: 2;
}

.home-middle button {
    margin-top: 300px;
    margin-right: 15px;
    padding: 7px 35px;
    border: 1px solid var(--gold);
    color: var(--cream);
    background-color: transparent;
    font-size: 17px;
    z-index: 5;
}

#contact {
    transition: .4s ease;
}

#contact:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#touch {
    transition: .4s ease;
    color:#f7c67e;
    font-style: italic;
}


/*-----------LEFT HOME SECTION--------------*/
.home-left {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
}

.home-left span {
    font-size: 15px;
    font-family: "Cormorant", sans-serif;
    font-weight: 100;
}

.home-left a {
    text-decoration: none;
    color: var(--cream);
}

.github, .instagram, .linked-in {
    position: relative;
    transition: all .4s ease;
}

.home-left a {
    opacity: 0;
    transition: opacity .4s ease;
}

.home-left i {
    color: var(--cream);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-left i:hover {
    cursor: pointer;
}

.github:hover a, .instagram:hover a, .linked-in:hover a {
    opacity: 1;
}

.github:hover span, .instagram:hover span, .linked-in:hover span {
    opacity: 0;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--gold);
    margin: 20px 0 20px 7px;
    opacity: .7;
}

/*-----------BOTTOM HOME SECTION--------------*/
.home-bottom {
    width: 89%;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.home-bottom h3 {
    font-family: "Cormorant", sans-serif;
    text-transform: uppercase;
    color: var(--gold);
    font-weight: 100;
    font-size: 20px;
}

/*------------------ABOUT SECTION-----------------------*/
.about {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
}

.about p {
    font-weight: 200;
    font-size: 15px;
}

.about-image img {
    width: 400px;
}

.about-me {
    flex-basis: 30%;
    margin-top: 100px;
}

.specialties {
    margin-top: 85px;
}

.specialties p {
    text-transform: uppercase;
    font-style: italic;
}

#jasmine-m {
    font-style: italic;
    font-weight: 500;
    color: var(--gold);
}

/*------------------WORKS SECTION-----------------------*/
.works {
    margin: 0 auto;
    margin-top: 8em;
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}


.work-text {
    flex-basis: 35%;
    padding-right: 60px;
}

.works-section {
    flex-basis: 65%
}

.bottom-works {
    display: inline-flex;
}

.work-text p {
    font-weight: 200;
}

.works img {
    height: 350px;
}

.work-image-top {
    flex-basis: 100%;
}


.other-works1, .other-works2, .other-works3, .other-works4 {
    flex-basis: 50%;
    width: 50%;
    
}

.work-image-top, .other-works1, .other-works2, .other-works3, .other-works4 {
    position: relative;
}


.work-image-top img, .other-works1 img, .other-works2 img, .other-works3 img, .other-works4 img {
    width: 100%;
    object-fit: cover;
}

.case {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background-color: #ffffff0e;
    border: 1px solid var(--cream);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0;
}

.case h4 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-image-top:hover, .other-works1:hover, .other-works2:hover, 
.other-works3:hover, .other-works4:hover {
    cursor: pointer;
}

.work-image-top:hover .case, .other-works1:hover .case, .other-works2:hover .case, 
.other-works3:hover .case, .other-works4:hover .case {
    animation: expose .7s ease-out forwards;
}

@keyframes expose {
    0% {
        opacity: 0;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

/*------------------CONTACT SECTION-----------------------*/
.contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 8em;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact-geometry {
    position: absolute;
    top: 110%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 120px;
    opacity: .7;
    animation: pulse 2.5s ease infinite alternate;
    display: none;
}

.form-section {
    flex-basis: 65%;
}

.form-section form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-section label {
    display: flex;
    flex-direction: column;
    font-weight: 100;
}

.form-section label input, .form-section label textarea {
    width: 65%;
    margin: 10px 0 30px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 8px 0;
    background-color: transparent;
    color: var(--cream);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--cream);
}

/* PLACEHOLDER EDIT */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--cream);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--cream);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--cream);
}

#submit {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 25%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--cream);
    font-weight: 100;
    position: relative;
    transition: text-decoration .4s ease;
}

#submit:hover {
    text-decoration: line-through;
}

.contact-info {
    flex-basis: 35%;
 
    position: relative;
}

#m-contact {
    font-style: italic;
    color: #f7c67e;
}

.contact-info h3 {
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 10%;
    font-weight: 600;
}

.location, .email-address, .phone-number {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.location p, .email-address p, .phone-number p {
    padding-top: 4px;
    font-size: 18px;
    font-style: italic;
}

.location-span {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: .5px solid var(--gold);
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-right: 25px;
}

.location i, .email-address i, .phone-number i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* ------------------------FOOTER SECTION--------------------------- */

.footer {
    background-color: var(--cream);
    width: 100%;
    padding: 30px 0;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-nav nav ul {
    display: inline-flex;
}

.footer-nav nav ul li {
    list-style-type: none;
}

.footer-nav nav ul a {
    text-decoration: none;
    padding: 0 15px;
    font-style: italic;
    font-weight: 300;
    transition: opacity .4s ease;
}

.footer i {
    margin: 0 10px;
    transition: transform .4s ease;
}

.footer i:hover {
    transform: scale(1.05);
}

.footer ul a:hover {
    opacity: .6;
}

.footer-nav nav ul a, .footer i, .footer p {
    color: rgb(22, 22, 22);
}

.footer-nav nav ul a, .footer p {
    font-size: 14px;
    margin-top: -10px;
}




/* ------------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 767px) {
    .about, .works {
        padding: 3em 0;
    }
    
    /*------------------NAV BAR SECTION-----------------------*/
    
    nav {
        padding: 20px 50px;
    }

    .nav-right {
        display: none;
    }

    .nav-hidden {
        display: block;
    }

    .home {
        height: 87svh;
        padding: 0 40px;
    }
    
    .home-logo {
        top: -6%;
        left: -40%;
    }
    
    .jasmine-logo {
        width: 90px;
    }

    .spin-circle {
        width: 120px;
        left: 35%;
        margin-top: -65px;
    }
    
    /*-----------MIDDLE HOME SECTION--------------*/
    .home-middle {
        top: 35%;
    }

    .home-middle h1 {
        font-size: 47px;
    }
    
    .home-middle img {
        width: 240px;
    }
    
    .home-middle button {
        margin-top: 240px;
        padding: 5px 25px;
        font-size: 14px;
    }
    
    /*-----------LEFT HOME SECTION--------------*/
    .home-left {
        display: none;
    }
       
    /*-----------BOTTOM HOME SECTION--------------*/
    .home-bottom {
        width: 83%;
        margin-bottom: 30px;

    }
    
    .home-bottom h3 {
        font-size: 16px;
    }

    #mouse {
        left: 47%;
    }

    /*-----------ABOUT SECTION--------------*/

    .about {
        justify-content: left;
        flex-direction: column;
    }
    
    .about-me {
        order: 2;
        margin-top: 80px;
    }
    .specialties {
        order: 3;
        width: 100%;
        margin-top: 50px;
    }
    .about-image {
        order: 1;
    }

    .about-me, .specialties, .about-image {
        flex-basis: 100%;
    }

    /*-----------WORKS SECTION--------------*/
    
    .works {
        margin-top: 3em;
        width: 80%;
        flex-direction: column;
    }    
    
    .work-text, .works-section {
        flex-basis: 100%;
        width: 100%;
    }
    
    .work-text {
        padding-bottom: 80px;
    }
    
    .works img {
        height: 250px;
    }
    
    .case h4 {
        font-size: 11px;
    }

    /*------------------CONTACT SECTION-----------------------*/
    .contact {
        margin-top: 5em;
        padding: 2em 0;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .form-section {
        margin-top: 50px;
        flex-basis: 100%;
        width: 100%;
    }

    .form-section label input, .form-section label textarea {
        width: 100%;
        font-size: 15px;
    }

    #submit {
        margin-left: 40%;
    }

    .contact-info {
        flex-basis: 100%;
        width: 100%;
    }

    .location, .email-address, .phone-number {
        text-align: left;
    }

    .location p, .email-address p, .phone-number p {
        font-size: 16px;
    }

    /* ------------------------FOOTER SECTION--------------------------- */

    .footer {
        background-color: var(--cream);
        padding: 20px 0;
        margin-top: 3em;
    }

    .footer-nav nav ul a, .footer p {
        font-size: 13px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*------------------NAV BAR SECTION-----------------------*/
    nav {
        padding: 20px 60px;
    }

    .nav-right {
        display: none;
    }

    .nav-hidden {
        display: block;
    }

    .nav-menu nav ul li {
        font-size: 40px;
    }

    .nav-menu-links {
        margin-top: 30px;
    }

    /*------------------HOME SECTION-----------------------*/

    .home {
        height: 87.3svh;
        padding: 0 40px;
    }
    

    .home-logo {
        top: -6%;
        left: -40%;
    }
    
    .jasmine-logo {
        width: 90px;
    }

    .spin-circle {
        width: 120px;
        left: 36.5%;
        margin-top: -65px;
    }
    
    /*-----------MIDDLE HOME SECTION--------------*/
    .home-middle {
        top: 40%;
    }

    .home-middle h1 {
        font-size: 70px;
    }
    
    .home-middle img {
        width: 320px;
    }
    
    .home-middle button {
        margin-top: 260px;
        padding: 6px 30px;
        font-size: 16px;
    }
    
    /*-----------LEFT HOME SECTION--------------*/
    .home-left {
        display: none;
    }

    /*-----------ABOUT SECTION--------------*/

    .about {
        justify-content: left;
        flex-direction: column;
    }
    
    .about-me {
        order: 2;
        margin-top: 80px;
    }
    .specialties {
        order: 3;
        width: 100%;
        margin-top: 50px;
    }
    .about-image {
        order: 1;
    }

    .about-me, .specialties, .about-image {
        flex-basis: 100%;
    }

    /*-----------WORKS SECTION--------------*/
    
    .works {
        margin-top: 3em;
        width: 80%;
        flex-direction: column;
    }    
    
    .work-text, .works-section {
        flex-basis: 100%;
        width: 100%;
    }
    
    .work-text {
        padding-bottom: 80px;
    }
    
    .works img {
        height: 300px;
    }
    
    .case h4 {
        font-size: 13px;
    }

    /*------------------CONTACT SECTION-----------------------*/
    .contact {
        margin-top: 5em;
        padding: 2em 0;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .form-section {
        margin-top: 50px;
        flex-basis: 100%;
        width: 100%;
    }

    .form-section label input, .form-section label textarea {
        width: 100%;
        font-size: 15px;
    }

    #submit {
        margin-left: 40%;
    }

    .contact-info {
        flex-basis: 100%;
        width: 100%;
    }

    .location, .email-address, .phone-number {
        text-align: left;
    }

    .location p, .email-address p, .phone-number p {
        font-size: 16px;
    }

    .contact-geometry {
        top: 50%;
        left: 80%;
        transform: translate(-80%, -50%);
        width: 320px;
        opacity: .7;
        display: block;

    }

    /* ------------------------FOOTER SECTION--------------------------- */

    .footer {
        background-color: var(--cream);
        padding: 20px 0;
        margin-top: 3em;
    }

    .footer-nav nav ul a, .footer p {
        font-size: 13px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1140px)  {
    .about p {
        font-weight: 200;
        font-size: 12.5px;
        padding-right: 20px;
    }

    .work-text p {
        font-size: 13px;
    }

    .home-middle h1 {
        font-size: 74px;
    }

    .home-middle img {
        width: 320px;
    }

    
    .home-middle button {
        margin-top: 270px;
        padding: 6px 30px;
        font-size: 16px;
    }

    .contact-info p {
        font-size: 16px;
    }

}